@import url("https://fonts.googleapis.com/css?family=Alex+Brush|Overpass+Mono:600,700");
@import url("https://fonts.googleapis.com/css?family=PT+Sans");
body {
  overflow-x: hidden;
  margin: 0%;
}

/*
  GLOBAL
*/
.navbarr{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  width: 10vw;
  height: 16vh;
}


a {
  text-decoration: none;
  padding-bottom: 5px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*
  HEADER
*/
header {
  min-height: 100vh;
  background: linear-gradient(to bottom, rgba(27, 26, 26, 0.895), transparent), url("./res-one.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  /*
    NAV
  */
  /*
    CENTER HEADER TEXT
  */
}
header nav {
  padding: 15px 35px;
  display: flex;
  position: relative;
}
header nav div {
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  text-align: center;
  transform: scale(0);
  opacity: 0;
  transition: opacity 0.2s;
}
header nav div ul {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header nav div ul .exit-menu {
  position: absolute;
  top: 10px;
  right: 15px;
  color: lightgray;
  font-size: 20px;
  padding: 10px;
}
header nav div ul li {
  font-family: "PT Sans", sans-serif !important;
  text-transform: uppercase;
}
header nav div ul li a {
  display: block;
  color: lightgray;
  padding: 15px 5px;
  transition: all 0.4s;
}
header nav div ul li a:hover,
header nav div ul li a .active:hover {
  color: #be8040;
  border-bottom-color: #be8040;
}
header .center {
  line-height: 0;
  margin: auto;
  text-align: center;
  color: white;
}
header .center h1 {
  font-family: "Alex Brush", cursive !important;
  color: #be8040;
  font-size: 80px;
  margin-bottom: 36px;
}
header .center h2 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 25px;
}
header .center #asterisk {
  color: #be8040;
  line-height: 0.5;
  font-size: 30px;
  display: flex;
  justify-content: center;
}
header .center #asterisk:before, header .center #asterisk:after {
  content: "";
  display: inline-block;
  position: relative;
  vertical-align: middle;
  height: 1px;
  width: 0%;
  opacity: 0;
  background: white;
}
header .center #asterisk:before {
  margin-right: 10px;
}
header .center #asterisk:after {
  margin-left: 10px;
}
header .center p {
  text-transform: uppercase;
  margin-top: 5px;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 3px;
}

nav div.show {
  transform: scale(1);
  opacity: 1;
}

/*
  SECTIONS
*/
/*
  CLASSES
*/
.custom-font {
  font-family: "Alex Brush", cursive;
  color: #be8040;
  font-size: 75px;
  line-height: 0;
}

.add-padding {
  padding: 25px;
}

.center-text {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 30px;
  color: #4d4d4d;
}
.center-text h2 {
  margin-top: 25px;
  line-height: 0;
}
.center-text p {
  margin-top: 0;
  font-family: "PT Sans", sans-serif;
  line-height: 1.5;
}
.center-text a {
  font-family: "PT Sans", sans-serif;
  color: #be8040;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  border-bottom: solid 2px #be8040;
}

.add-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.add-flex .stuffed-cherries {
  background: url("./man-serve.jpeg") no-repeat center center;
  background-size: cover;
  height: 75vh;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  object-fit: cover;
  object-position: top;
  width: 320px;
  border-radius: 10px;
}

.center-h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-h1 {
  text-align: center;
  color: white;
  letter-spacing: 5px;
  margin-bottom: 0;
}
.custom-h1 span {
  letter-spacing: 0;
}

/*
  TASTEFUL RECIPES SECTION
*/
.bread-background {
  background: black url("./backgrond-wallpaper.jpg") no-repeat center center;
  background-size: cover;
  opacity: 0.7;
  z-index: 0;
  background-attachment: fixed;
  height: 500px;
}

/*
  MENU SECTION
*/
.menu {
  padding: 30px;
}
.menu-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;

}

.menu-images img {
  border-radius: 10px;
  width: 100%;
  height: 200px; /* Set a fixed height, adjust as per your need */
  object-fit: cover; /* Ensures images are cropped to fit the container */
}


/*
  THE PERFECT BLEND SECTION
*/
.cake-background {
  background: black url("./backgrond-wallpaper.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.6;
  height: 500px;
}

/*
  CULINARY DELIGHT SECTION
*/
.reservation-section {
  margin-bottom: 40px;
}
.reservation-section div:first-child {
  flex: 1;
}
.reservation-section div:last-child {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  flex: 1;
}
.reservation-section div:last-child img {
  margin: auto;
  width: 85%;
}

/*
  FOOTER
*/
footer {
  margin: 0;
  position: relative;
  background: #141414;
  color: lightgray;
}
footer button {
  width: 50px;
  height: 50px;
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translate(-50%, -10%);
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1.2px;
  line-height: 1.2;
  border-radius: 50%;
  margin-top: 0;
}
footer h4 {
  margin-bottom: 0;
}
footer h5 {
  line-height: 1.5;
}
footer .restaurant-info {
  padding: 35px 40px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .copyright {
  background: #232323;
  color: #969696;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
footer .copyright span {
  border-bottom: solid 1px;
}

/*
  MEDIA QUERIES
*/
@media screen and (max-width: 425px) {
  header,
.bread-background,
.cake-background {
    background-attachment: scroll;
  }
}
@media (min-width: 768px) {
  footer .restaurant-info {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }
}
@media (min-width: 769px) {
  /*
    NAV
  */
  nav {
    position: initial !important;
    align-items: baseline;
    padding: 20px 70px !important;
  }
  nav .nav-button {
    display: none;
  }
  nav div {
    position: initial !important;
    background: none !important;
    opacity: initial !important;
    transform: initial !important;
  }
  nav div ul {
    position: initial !important;
    flex-direction: row !important;
  }
  nav div ul .exit-menu {
    display: none;
  }
  nav div ul li a {
    font-size: 12.8px;
    margin: 0 10px;
    letter-spacing: 1px;
    padding: 5px 0 !important;
  }
  nav div ul .active {
    border-bottom: solid 1px lightgray;
  }

  .add-padding {
    padding: 50px 0;
  }

  .add-flex {
    flex-direction: row;
    align-items: center;
  }
  .add-flex div:first-child {
    flex: 1;
    padding: 0 50px;
  }
  .add-flex div:last-child {
    min-width: 400px;
    margin: 50px;
  }

  .menu-images {
    flex: 1;
  }
  .menu div:last-child {
    flex: 1;
  }
}
/* ANIMATIONS */
#asterisk {
  opacity: 0;
  transform-origin: 50% 4%;
  -webkit-animation: spin 0.5s forwards;
          animation: spin 0.5s forwards;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

#asterisk::before,
#asterisk::after {
  transform-origin: center center;
  -webkit-animation: grow 0.5s forwards;
          animation: grow 0.5s forwards;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.center p {
  transform: translateY(-40px);
  opacity: 0;
  -webkit-animation: fadeDown 0.9s forwards;
          animation: fadeDown 0.9s forwards;
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s;
}

.center h2 {
  transform: scale(2);
  opacity: 0;
  -webkit-animation: fade 0.5s forwards;
          animation: fade 0.5s forwards;
}

.center h1 {
  transform: translateY(40px);
  opacity: 0;
  -webkit-animation: fadeUp 0.5s forwards;
          animation: fadeUp 0.5s forwards;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

@-webkit-keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes fade {
  0% {
    transform: scale(2);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes fade {
  0% {
    transform: scale(2);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes grow {
  0% {
    opacity: 0;
    width: 0%;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    width: 40%;
  }
}
@keyframes grow {
  0% {
    opacity: 0;
    width: 0%;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    width: 40%;
  }
}
@-webkit-keyframes spin {
  0% {
    transform: rotate(0);
    opacity: 0;
  }
  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0);
    opacity: 0;
  }
  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}


/* FOOTER */
.footer {
	width: 100%;
	background: #00121b;
	display: block;
 }

 .inner-footer {
	 width: 95%;
	 margin: auto;
	 padding: 30px 10px;
	 display: flex;
	 flex-wrap: wrap;
	 box-sizing: border-box;
	 justify-content: center;
 }

.footer-items {
	width: 25%;
	padding: 10px 20px;
	box-sizing: border-box;
	color: #fff;
}

.footer-items p {
	font-size: 16px;
	line-height: 22px;
	color: #fff;
}

.footer-items h1 {
	color: #fff;
}

.border1 {
	height: 3px;
	width: 40px;
	background: #ff9800;
	color: #ff9800;
	background-color: #ff9800;
	border: 0px;
}

ul {
	list-style: none;
	color: #fff;
	font-size: 15px;
	letter-spacing: 0.5px;	
 }

ul a {
	text-decoration: none;
	outline: none;
	color: #fff;
	transition: 0.3s;
}

ul a:hover {
	color: #ff9800;
}

ul li {
	margin: 10px 0;
	height: 25px;
}

li i {
	margin-right: 20px;
}

.social-media {
	width: 100%;
	color: #fff;
	text-align: center;
	font-size: 20px;
}

.social-media a {
	text-decoration: none;
}

.social-media i {
	height: 25px;
	width: 25px;
	margin: 20px 10px;
	padding: 4px;
	color: #fff;
	transition: 0.5s;
}

.social-media i:hover {
	transform: scale(1.5);
}

.footer-bottom {
	padding: 10px;
	background: #00121b;
	color: #fff;
	font-size: 12px;
	text-align: center;
}

/* for tablet mode view */

@media screen and (max-width: 1275px) {
	.footer-items {
		width: 50%;
	}
}

/* for mobile screen view */

@media screen and (max-width: 660px) {
	.footer-items {
		width: 100%;
	}
}

